/* Base reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* box-sizing*/
* {
  box-sizing: border-box;
}
body{
  background-color: #3366cc;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Estilos Base */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  width: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}


h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}


/* nav */

header {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  background: #054f77;
  border: 2px solid gray;
  z-index: 10;  /* para sobrepor toda a página quando rolar(incluindo a div onde fica cada projeto) */
  position: fixed;
 
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

  .nav-list {
    margin: 0 1rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: whitesmoke;
  color: #3366cc;
}


/* Seção Bem-vindo */

.bemvindo {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.6), rgba(1, 16, 83, 0.1)),url('img/capa.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  border:2px solid black;

}
.bemvindo h1 {
  color: whitesmoke;
  margin-top: 25rem;
}

.bemvindo p {
  font-size: 5rem;
  color:#054f77;
  text-align: center;
}

/* Projects section */


.individual-project{
  max-width: 400px;
  margin: auto;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
}
.individual-project img{
  max-width: 400px;
  height: 270px;
}

.projects-section {
  text-align: center;
  margin: auto;
  padding: 10rem 2rem;
  background-color: #3366cc;
  max-width: 80%;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
.project-title {
  font-size: 18px;
  padding: 2rem 0.5rem;
 text-align: center;
}
.project-title:hover {
  color: gray;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

  .projects {
    grid-template-columns: 1fr;
  }


.agrad {
  text-align: center;
  padding-top: 25rem;
}

.project :hover .code {
  color: black;
}

.captura{
  margin-top: 5px;
}
.column {
  display: flex;
  flex-direction: column;
}
#certificados {
  font-size: 38px;
  background-color: #3366cc;
  height: auto;
  padding: 3rem;
}
#certificados h2 {
  font-size: 35px;
}
.freecodecamp p:hover {
  color: #181719;
}
.hcode p:hover {
  color: #fa7611;
}
.origamid p:hover {
  color: #693bb6;
}
.dio p:hover {
  color:tomato;
}
.alura p:hover {
  color:cyan
}


.certif {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.freecodecamp {
  margin-top: 20px;
  margin-bottom: 18px;
}
.alura, .origamid, .dio{
  margin-bottom: 10px;
}
.hcode{
  margin-bottom: 4px;
}


.certif img {
  max-width: 35px;
  margin-left: 20px;
}
.certif .img-distancia{
  margin-left: 8px;
  margin-top: -2px;
}
.certif .img-distancia-orig{
  margin-left: 8px;
  margin-top: -2px;
}


/* Contact section */

.contact-section {
  width: auto;
  height: 800px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.div-icones {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin: auto;
}

.icones {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 5px;
  margin-top: -5px;
}
ul {
  display: flex;
  flex-direction: row;
  margin: auto;
 
}
.div-icones ul li {
  margin-top: 21rem;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
}
.detalhes-contato:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #3366cc;
  border-top: 4px solid gray;
}
 
/*media-query */

@media (max-width: 670px) {
  header .nav-list{
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list a{
    font-size: 15px;
  }

  .bemvindo h1{
    margin-top: 14rem;
    font-size: 6rem;
    color: #054f77;
  }
  .bemvindo p{
    font-size: 4rem;
    color: antiquewhite;
  }
  .agrad {
    padding-top: 10rem;
  }
  .agrad p{
    padding-top: 30px;
    margin-bottom: 45px;
  }
  .div-icones ul{
    display: flex;
    flex-direction: column;
  }
  .div-icones ul li{
    margin-top: 30%;
  }
  #certificados h2{
    font-size: 25px;
  }
  .certif{
    font-size: 14px;
  }
  .agrad p,h2{
    margin-bottom: 10px;
    padding: 5px;
  }


}
/* media query celulares */
@media (max-width: 500px){
 .nav-list a{
    font-size: 12px;
  }
  .certif{
    max-width: 300px;
   justify-content: flex-start;
   padding-bottom: 10px;
  }
  .origamid{
    margin-top: 15px;
  }

}
